# Must also run sudo systemctl enable pcg.service
[Unit]
Description=Job for the Point Cloud Generator application

[Service]
Type=simple
ExecStart=/bin/bash /media/sd_card/OpticalGuide/PointCloudGenerator/run_pcg.sh

[Install]
WantedBy=multi-user.target
